.transparent {
    position: relative;
    padding: 60px 50px;
    margin:  auto 0;
    background-size: cover;
  }
  .transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .formInner {position: relative;}
  .formInner h3 {
    position: relative;
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-transform: uppercase;
  }
  .formInner h3:after {
    content: "";
    position :absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background: #1762EE;
  }
  .formInner label {
    display: block;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255,255,255,.6);
    text-transform: uppercase;
    font-size: 14px;
  }
  .formInner input,button {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: white;
    background: rgba(255,255,255,.2);
    font-family: 'Roboto', sans-serif;
  }
  
  
  
  .formInner input[type="submit"],button {background: #1762EE;}
  button:disabled{
    background: rgb(120, 120, 121);
  }

  .errorMessage{
    color: red;
  }
  .error{
    border: 1px solid red !important;
  }