header{
    height: 10%;
    display:flex;
    justify-content: space-between;
}
img{
 height: 64px;
 margin-left:2%; 
}
hr {
    height: 2px;
    color: blue;
    background:blue;
    font-size: 0;
    border: 0;
}


